@{
    ViewBag.PageTitle = "Order Managment";
    ViewBag.CartTitle = "view Order";

}


<table id="myTable" class="table table-hover" width="100%">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Phone Number</td>
            <td>Email</td>
            <td>Order Status</td>
            <td>Total</td>
            <td>Actions</td>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/Orders.js"></script>
}
